{% extends "base.html.twig" %}

{% block goBackUser %}
    {# powrot do menu zalogowanego usera #}
    <div class="large-12 columns">
    <a href={{ path('user_control', {'groupId': groupId, 'storeId': storeId}) }} class="button" >Moje Menu</a>
    </div>
{% endblock %}