{% extends "baseUser.html.twig" %}

{% block body %}
    <div class="large-6 columns">

        {{ form_start(form) }}

        {{ form_row(form.ilosc) }}

        <input type="submit" value="Umniejsz">

        {{ form_end(form) }}
    </div>
{% endblock %}