{% extends "base.html.twig" %}

{% block body %}
    <div class="large-6 columns">


        Wybierz:<br><br>

        {{form_start(form)}}

        {{form_row(form.store)}}

        <button type="submit">Wyœlij</button>

        {{form_end(form)}}
    </div>
{% endblock %}