{% extends "base.html.twig" %}

{% block body %}
    <h2>Co chcesz teraz zrobiæ?</h2>

    <a href={{ path('search_products', {'groupId': group, 'storeId': store, 'option':1}) }}>Wyszukaj wœród produktów mojej grupy</a><br>
    
    <a href={{ path('user_store_products', {'groupId': group, 'storeId': store}) }}>Poka¿ wszystkie produkty w moim sklepie</a><br>

    {#todo - bledne path!#}
    {% if group %}
    <a href={{ path('user_store_products', {'groupId': group, 'storeId': store}) }}>Poka¿ produkty w mojej grupie</a><br>
    {% endif %}
    {#todo <a href={{ path('user_store_products', {'groupId': group, 'storeId': store}) }}>WprowadŸ dostawê</a><br> #}
{% endblock %}