<h2>Zarządzaj bazą sklepów</h2>


<a href="http://localhost/WarehouseProject/web/app_dev.php/store/viewall">Pokaż wszystkie sklepy</a><br>
<a href="http://localhost/WarehouseProject/web/app_dev.php/store/new">Dodaj nowy sklep</a>