Dodaj nowy sklep do bazy danych<br><br>

{{ form_start(form) }}
{# wyświetla znacznik <form> z odpowiednio uzupełnionymi danymi #}

{{form_row(form.name)}}
{{form_row(form.localization)}}
<button type="submit">Dodaj</button><br><br>

{{ form_end(form) }}
{# renderuje wszystkie pozostałe pola formularza oraz zamyka znacznik form otwarty przez funkcję form_start #}

